.congrat {
  font-size: large;
  text-align: center;
  mat-icon {
    font-size: xx-large;
    color: greenyellow;
    position: relative;
    top: 6px;
    margin-left: 10px;
  }
}

.master {
  font-size: medium;
  color: goldenrod;
  margin: 18px 0;
}
